/* --- RESET BÁSICO --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* --- LAYOUT GERAL --- */
body {
    background-color: #f5f5f5;
    padding: 20px;
}

/* --- TÍTULOS --- */
h1 {
    margin: 25px;
    color: #333;

}

h3 {
    margin-bottom: 15px;
    color: #444;
}

.view {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 35px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.15); 
    width: 100%;              /* ocupa a largura total */
    max-width: 100%;          /* nunca ultrapassa a tela */
    overflow-x: auto;         /* rolagem horizontal SEM encolher tabela */
    box-sizing: border-box;   /* impede o padding de estourar o layout */
}


/* --- BOTÕES PADRÃO --- */
.btn_cadastro {
    display: inline-block;
    background: #0066cc;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.btn_cadastro:hover {
    background: #004999;
}

/* --- BOTÕES DE AÇÃO (USADOS EM EDITAR/EXCLUIR FUTURAMENTE) --- */

/* editar */
.btn_editar {
    background: #ffaa00;
    color: #fff;
}
.btn_editar:hover {
    background: #cc8800;
}

/* apagar */
.btn_excluir {
    display: inline-block;
    background: #fc440c;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}
.btn_excluir:hover {
    background: #e10505;
}

/* --- RESPONSIVIDADE --- */

@media (max-width: 768px) {

    body {
        padding: 10px;
    }

    .view {
        padding: 15px;
    }

    h1 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    .btn_cadastro {
        width: 100%;
        text-align: center;
        padding: 12px;
        font-size: 18px;
        margin-top: 10px;
    }
    .btn_excluir {
        width: 100%;
        text-align: center;
        padding: 12px;
        font-size: 18px;
        margin-top: 10px;
    }

}

@media (max-width: 480px) {

    .view {
        padding: 12px;
    }

    h1 {
        font-size: 20px;
    }

    .btn_cadastro {
        font-size: 16px;
    }
}
